<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="src/scss/index.scss">
    <title>Web Studio</title>
  </head>
  <body>
    <%- include("src/ui/widgets/header/header.html") %>
    <main class="main">
      <section class="welcome-section main__section main__section_style_welcome" hidden>
        <img class="welcome-section__background" src="assets/contents/studio/welcome.jpg" alt="welcome" width="1600" height="600">
        <h1 class="welcome-section__title">Ефективні рішення для вашого бізнесу</h1>
        <button class="button welcome-section__button" type="button">Замовити послугу</button>
      </section>
      <section class="features-section main__section">
        <div class="features-section__container">
          <ul class="grid-for-cards grid-for-cards_v1">
            <li class="feature-card">
              <div class="feature-card__icon-background">
                <svg class="feature-card__icon">
                  <use href="assets/icons/features.svg#antenna" />
                </svg>
              </div>
              <h3 class="feature-card__title">УВАГА ДО ДЕТАЛЕЙ</h3>
              <p class="feature-card__text">Ідейні міркування, і навіть початок повсякденної роботи з формування позиції.</p>
            </li>
            <li class="feature-card">
              <div class="feature-card__icon-background">
                <svg class="feature-card__icon">
                  <use href="assets/icons/features.svg#clock" />
                </svg>
              </div>
              <h3 class="feature-card__title">ПУНКТУАЛЬНІСТЬ</h3>
              <p class="feature-card__text">Завдання організації, особливо рамки і місце навчання кадрів тягне у себе.</p>
            </li>
            <li class="feature-card">
              <div class="feature-card__icon-background">
                <svg class="feature-card__icon">
                  <use href="assets/icons/features.svg#diagram" />
                </svg>
              </div>
              <h3 class="feature-card__title">ПЛАНУВАННЯ</h3>
              <p class="feature-card__text">Так само консультація з широким активом значною мірою зумовлює.</p>
            </li>
            <li class="feature-card">
              <div class="feature-card__icon-background">
                <svg class="feature-card__icon">
                  <use href="assets/icons/features.svg#astronaut" />
                </svg>
              </div>
              <h3 class="feature-card__title">СУЧАСНІ ТЕХНОЛОГІЇ</h3>
              <p class="feature-card__text">Значимість цих проблем настільки очевидна, що реалізація планових завдань.</p>
            </li>
          </ul>
        </div>
      </section>
      <section class="study-section main__section">
        <div class="study-section__container">
          <h2 class="section-title study-section__title">Чим ми займаємося</h2>
          <ul class="grid-for-cards grid-for-cards_v1">
            <%- 
              include("src/ui/shared/study-card/study-card.html", { 
                  src: "assets/contents/studio/study/1.jpg", 
                  alt: "desktop-app", 
                  title: "Десктопні додатки", 
                }
              )
            %>
            <%- 
              include("src/ui/shared/study-card/study-card.html", { 
                  src: "assets/contents/studio/study/2.jpg", 
                  alt: "mobile-app", 
                  title: "Мобільні додатки", 
                }
              )
            %>
            <%- 
              include("src/ui/shared/study-card/study-card.html", { 
                  src: "assets/contents/studio/study/3.jpg", 
                  alt: "design-solution", 
                  title: "Дизайнерські рішення", 
                }
              )
            %>
          </ul>
        </div>
      </section>
      <section class="team-section main__section">
        <div class="team-section__container">
          <h2 class="section-title team-section__title">Наша команда</h2>
          <ul class="grid-for-cards grid-for-cards_v4">
            <%- 
              include("src/ui/shared/team-card/team-card.html", { 
                  src: "assets/contents/studio/teams/1.jpg", 
                  alt: "person", 
                  title: "Ігор Дем'яненко", 
                  text: "Product Designer"
                }
              )
            %>
            <%- 
              include("src/ui/shared/team-card/team-card.html", { 
                  src: "assets/contents/studio/teams/2.jpg", 
                  alt: "person", 
                  title: "Ольга Рєпіна", 
                  text: "Frontend Developer"
                }
              )
            %>
            <%- 
              include("src/ui/shared/team-card/team-card.html", { 
                  src: "assets/contents/studio/teams/3.jpg", 
                  alt: "person", 
                  title: "Микола Тарасов", 
                  text: "Marketing"
                }
              )
            %>
            <%- 
              include("src/ui/shared/team-card/team-card.html", { 
                  src: "assets/contents/studio/teams/4.jpg", 
                  alt: "person", 
                  title: "Михайло Єрмаков", 
                  text: "UI Designer"
                }
              )
            %>
          </ul>
        </div>
      </section>
      <section class="main__section clients-section">
        <div class="clients-section__container">
          <h2 class="section-title clients-section__title">Постійні клієнти</h2>
          <ul class="grid-for-cards grid-for-cards_v3">
            <%- 
              include("src/ui/shared/client-card/client-card.html", { 
                  icon: "1"
                }
              )
            %>
            <%- 
              include("src/ui/shared/client-card/client-card.html", { 
                  icon: "2"
                }
              )
            %>
            <%- 
              include("src/ui/shared/client-card/client-card.html", { 
                  icon: "3"
                }
              )
            %>
            <%- 
              include("src/ui/shared/client-card/client-card.html", { 
                  icon: "4"
                }
              )
            %>
            <%- 
              include("src/ui/shared/client-card/client-card.html", { 
                  icon: "5"
                }
              )
            %>
            <%- 
              include("src/ui/shared/client-card/client-card.html", { 
                  icon: "6"
                }
              )
            %>
          </ul>
        </div>
      </section>
    </main>
    <%- include("src/ui/widgets/footer/footer.html") %>
  </body>
  <script src="./src/ts/index.ts"></script>
</html>