<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="src/scss/index.scss" />
      <title>Web Studio</title>
   </head>

   <body>
      <%- include("src/ui/widgets/header/header.html") %>
      <main class="main">
         <div class="portfolio">
            <div class="portfolio__container">
               <div class="buttons-group portfolio__filters" hidden>
                  <button class="button button_active" type="button">
                     Усі
                  </button>
                  <button class="button" type="button">Веб-сайти</button>
                  <button class="button" type="button">Додатки</button>
                  <button class="button" type="button">Дизайн</button>
                  <button class="button" type="button">Маркетинг</button>
               </div>
               <div class="grid-for-cards grid-for-cards_v2">      
                  <%- 
                     include("src/ui/shared/portfolio-card/portfolio-card.html", 
                        { 
                           src: "/assets/contents/portfolio/1.png", 
                           alt: "1", 
                           desc: "Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.", 
                           title: "Технокряк", 
                           text: "Веб-сайт"
                        }
                     )
                  %>
                  <%- 
                     include("src/ui/shared/portfolio-card/portfolio-card.html", 
                        { 
                           src: "/assets/contents/portfolio/1.png", 
                           alt: "1", 
                           desc: "Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.", 
                           title: "Технокряк", 
                           text: "Веб-сайт"
                        }
                     )
                  %>
                  <%- 
                     include("src/ui/shared/portfolio-card/portfolio-card.html", 
                        { 
                           src: "/assets/contents/portfolio/1.png", 
                           alt: "1", 
                           desc: "Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.", 
                           title: "Технокряк", 
                           text: "Веб-сайт"
                        }
                     )
                  %>
                  <%- 
                     include("src/ui/shared/portfolio-card/portfolio-card.html", 
                        { 
                           src: "/assets/contents/portfolio/1.png", 
                           alt: "1", 
                           desc: "Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.", 
                           title: "Технокряк", 
                           text: "Веб-сайт"
                        }
                     )
                  %>
               </div>
            </div>
         </div>
      </main>
      <%- include("src/ui/widgets/footer/footer.html") %>
   </body>
</html>
