.portfolio {

   // .portfolio__filters

   &__filters {
      justify-content: center;

      @media (max-width: em($mobile)) {
         &:not(:last-child) {
            margin-bottom: rem(40);
         }
      }

      @media (min-width: em($mobile)) {
         &:not(:last-child) {
            margin-bottom: rem(50);
         }
      }
   }
}