<li class="team-card">
   <div class="team-card__flexability-image">
      <img class="team-card__image" src="{{ card.src }}" alt="{{ card.alt }}" width="270" height="260">
   </div> 
   <div class="team-card__info-wrapper">
      <h3 class="team-card__title">{{ card.title }}</h3>
      <p class="team-card__text">{{ card.text }}</p>
      
      {% set className = "team-card__list social-list_primary" %}
      {% include '../social-list/social-list.njk' %}
   </div>

</li>