.social-list {
   $p: &;
   display: flex;
   flex-wrap: wrap;
   gap: em(10);

   &_primary {
     #{$p}__link {
         background-color: transparent;
         &:hover {
            background-color: #2196F3;
            #{$p}__icon {
               fill: #FFFFFF;
            }
         }

         #{$p}__icon {
            fill: #AFB1B8;
         }
     }
   }

   &_secondary {
      #{$p}__link {
          background-color: rgba(255, 255, 255, 0.10);
          #{$p}__icon {
            fill: #FFFFFF;
         }
         
      }
    }

   // .social-list__item

   &__item {
      overflow: hidden;
      flex: 0 0 auto;

      border-radius: 50%;
   }

   // .social-list__link

   &__link {
      display: block;

      box-sizing: border-box;
      padding: em(12);

      transition: 
         background-color $primaryTransition, 
         fill $primaryTransition;

      

      &:hover {
         background-color: #2196F3;
      }
   }

   // .social-list__icon

   &__icon {
      display: block;

      width: em(20);
      height: em(20);
   }
}