<li class="feature-card">
  <div class="feature-card__icon-background">
    <svg class="feature-card__icon">
      <use href="{{ card.src }}" />
    </svg>
  </div>
  <h3 class="feature-card__title">{{ card.title }}</h3>
  <p class="feature-card__text">{{ card.text }}</p>
</li>