.header {

   // .header__container

   &__container {
   }

   // .header__nav

   &__nav {
   }

   // .header__contact

   &__contact {
   }
}
.logo {

   // .logo__icon

   &__icon {
   }
}
.nav {

   // .nav__list

   &__list {
   }

   // .nav__item

   &__item {
   }

   // .nav__link

   &__link {
   }
}
.contact {

   // .contact_column

   &_column {
   }

   // .contact__list

   &__list {
   }

   // .contact__item

   &__item {
   }

   // .contact__link

   &__link {
   }

   // .contact__icon

   &__icon {
   }
}
.main {

   // .main__section

   &__section {

      // .main__section_style

      &_style {
      }
   }
}
.welcome-section {

   // .welcome-section__background

   &__background {
   }

   // .welcome-section__title

   &__title {
   }

   // .welcome-section__button

   &__button {
   }
}
.button {
}
.features-section {

   // .features-section__container

   &__container {
   }
}
.grid-for-cards {
   display: grid;
   gap: em(30);

   &_v1 {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   }

   &_v2 {
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
   }

   &_v3 {
      grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
   }
}


.feature-card {

   // .feature-card__icon-background

   &__icon-background {
      display: flex;
      justify-content: center;

      padding: rem(25) 0;

      background-color: $grayColor;

      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }

    // .feature-card__icon

   &__icon {
      width: em(70);
      height: em(70);
   }

   // .feature-card__title

   &__title {
      letter-spacing: em(0.42);
      text-transform: uppercase;

      font-size: em(14);
      font-weight: 700;

      &:not(:last-child) {
         margin-bottom: rem(10);
      }
   }

   // .feature-card__text

   &__text {
      letter-spacing: em(0.42);

      color: #757575;

      font-size: em(14);
      
      font-weight: 400;
      line-height: math.div(24, 14);
   }
}
.study-section {

   // .study-section__container

   &__container {
   }
}
.section-title {
}
.stydy-card {
   position: relative;
   // .stydy-card__flexability-image

   &__flexability-image {
      padding-bottom: percent(294, 370);
   }

   // .stydy-card__image

   &__image {
   }

   // .stydy-card__title-background

   &__title-background {
      position: absolute;
      bottom: 0;
      left: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: percent(70, 294);

      background: rgba(47, 48, 58, 0.80);
   }

   // .stydy-card__title

   &__title {
      text-align: center;
      letter-spacing: em(0.42);
      text-transform: uppercase;

      color: #FFF;

      font-size: em(14);
      font-weight: 700;
   }
}
.team-section {

   // .team-section__container

   &__container {
   }
}
.team-card {
   display: flex;
   align-items: center;
   flex-direction: column;

   padding-bottom: em(30);

   border-radius: 0px 0px 4px 4px;
   background: #FFF;

   box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
   // .team-card__flexability-image
   
   &__flexability-image {
      width: 100%;

      padding-bottom: percent(260, 270);
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }

   // .team-card__image

   &__image {
      
   }

   // .team-card__info-wrapper

   &__info-wrapper {
      &:not(:last-child) {
         margin-bottom: rem(16);
      }
   }

   // .team-card__title

   &__title {
      text-align: center;
      letter-spacing: em(0.48);

      font-weight: 500;
      &:not(:last-child) {
         margin-bottom: em(10);
      }
   }

   // .team-card__text

   &__text {
      text-align: center;

      letter-spacing: em(0.48);

      color: #757575;
   }

   // .team-card__list

   &__list {
   }
}
.social-list {
   $p: &;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: em(10);

   // .social-list__item

   &__item {
      overflow: hidden;
      flex: 0 0 auto;

      border-radius: 50%;
   }

   // .social-list__link

   &__link {
      display: block;

      box-sizing: border-box;
      padding: em(12);

      transition: 
         background-color $primaryTransition, 
         fill $primaryTransition;

      background-color: transparent;

      &:hover {
         background-color: #2196F3;
         #{$p}__icon {
            fill: #FFFFFF;
         }
      }
   }

   // .social-list__icon

   &__icon {
      display: block;

      width: em(20);
      height: em(20);
      fill: #AFB1B8;
   }
}
.clients-section {
   // .clients-section__container
   &__container {
   }

   // .clients-section__title

   &__title {
   }
}
.client-card {
   $p: &;


   // .client-card__link

   &__link {
      display: flex;
      justify-content: center;
   
      padding: rem(16) rem(32);

      transition: color $primaryTransition;
   
      color: #AFB1B8;
      border: 1px solid currentColor;
      border-radius: 4px;

      &:hover {
         color: #2196F3;
      }
      
   }

   // .client-card__icon

   &__icon {
      display: block;

      width: em(106);
      height: em(60);
      fill: currentColor;
   }
}
.footer {

   // .footer__container

   &__container {
   }

   // .footer__info

   &__info {
   }

   // .footer__social

   &__social {
   }

   // .footer__title

   &__title {
   }

   // .footer__sending

   &__sending {
   }
}
.sending {
}
.input {

   // .input__this

   &__this {
   }
}
